body {
	background: #F4F4F4;
}

#header {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80%;
	position: absolute;
	background: #CCC;
}

.linear {
	background: rgba(51,51,51,1);
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=0 );
	width: 100%;
	height: 100%;
}

.title {
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 4px;
	font-size: 18px;
}

.menu-item {
	font-family: 'Work Sans';
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	padding: 8px 10px 8px 10px;
	margin-left: 5px;
    transition: 0.3s;
}

.menu-item:hover {
	opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
}

.select {
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius: 3px;
}

#mensagem {
	top: 40%;
	left: 0px;
	width: 100%;
	position: absolute;
	z-index: 999;
}

.mensagem-title {
	color: #FFF;
	font-family: 'Raleway';
	font-size: 35px;
	text-shadow: 0 0 15px rgba(0,0,0, 0.4);
}

.mensagem-subtitle {
	color: #FFF;
	font-family: 'Raleway';
	font-size: 14px;
	text-shadow: 0 0 15px rgba(0,0,0, 0.4);
}

#menu {
	top: 0px;
	left: 10%;
	width: 80%;
	padding: 2%;
	position: fixed;
	font-family: 'Work Sans';
	z-index: 2;
	border-bottom: 1.5px solid rgba(255,255,255, 0.2);
}

#card-home {
	top: 58%;
	left: 35%;
	width: 30%;
	height: 60%;
	background: #999;
	position: absolute;
	z-index: 3;
	border-radius: 9px;
	background: url("http://www.overmelhinho.com.br/arquivos/5f934_mecanica.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 15px 25px #000;
}

#card-home .row,
#card-second .row,
#card-third .row {
	margin: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.3)));
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
	background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
	background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
	transition: 0.5s;
	border-radius: 9px;
	padding: 15px;
	text-align: center;
}

#card-home .row:hover,
#card-second .row:hover,
#card-third .row:hover {
	background: none;
}

#card-home .row .col-md-12 {
	top: 75%;
	height: 10%;
}
#card-second .row .col-md-12,
#card-third .row .col-md-12 {
	top: 70%;
	height: 10%;
}

.card-title {
	font-family: 'Raleway';
	color: #FFF;
	font-size: 30px;
	text-shadow: 0 0 15px #000;
}

.card-subtitle {
	font-family: 'Raleway';
	color: #FFF;
	font-size: 14px;
	text-shadow: 0 0 15px #000;
}

#card-second {
	top: 63%;
	left: 62.5%;
	width: 30%;
	height: 50%;
	background: #CCC;
	position: absolute;
	z-index: 2;
	border-radius: 9px;
	background: url("http://vizpin.com/wp-content/uploads/2015/07/auto-shop.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#card-third {
	top: 63%;
	left: 7.5%;
	width: 30%;
	height: 50%;
	background: #CCC;
	position: absolute;
	z-index: 2;
	border-radius: 9px;
	background: url("http://autos.culturamix.com/blog/wp-content/gallery/vistoria-de-carro-3/Vistoria-de-Carro-6.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}